<div class="center jumbotron">

  <h1>Welcome to the Dereks Sample App</h1>
  <h2>
      <a href="https://www.linkedin.com/in/derekflorimonte/"> LinkedIn</a>
      <a href="https://www.github.com"> GitHub</a>
  </h2>

  <%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("kitten.jpg", alt: "Rails Logo"),
                  'http://rubyonrails.org/' %>